label {
    font-weight: bold;
    display: inline-block;
    width: 110px;
    color: #777777;
}
input {
    padding: 5px 10px;
}
#Total{
    font-size: 20px;
    color: green;
    background-color: rgb(148, 252, 167);
}
.col {
    background-color: yellow;
    font-size: 16px;
}
