<div class="container">
  <h2 class="heading">Your cart</h2>
  <div *ngIf="itemInCart && itemInCart.length > 0" class="flex">
    <a routerLink="/payment" class="button btn-block float-right">Payment</a>
  </div>
  <app-row-item-list [items]="itemInCart" [showButton1]="true" [showQuantify]="true" [Button1Text]="'Cancel'"
    (updateQuantifyEvent)="updateQuantify($event)" (clickButton1Event)="removeItemInCart($event)">
  </app-row-item-list>

  <div *ngIf="!itemInCart || itemInCart.length == 0" class="flex">
    <p>There are no item in your cart list</p>
  </div>
</div>
